In [1]:
# Importing all the Required Libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from plotly.offline import init_notebook_mode
import seaborn as sns
import datetime as dt
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns',None)
init_notebook_mode(connected=True)

In [2]:
import os
current_directory = os.getcwd()
print(current_directory)

C:\Users\sciber\Downloads\2024 Spring URP\Python_Projects

In [3]:
df=pd.read_csv('../kpopradar/KAIST_artists_daily_20230930.csv')

In [4]:
df.head()

     id             name      date  viewcount
0    11  엔플라잉 (N.Flying)  20210418     130470
1  1819       경리 (나인뮤지스)  20210418        360
2  1624              하동균  20210418      27206
3  1412          Lim Kim  20210418      12410
4   406                진  20210418      80212

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 584013 entries, 0 to 584012
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         584013 non-null  int64
 1   name       584013 non-null  object
 2   date       584013 non-null  int64
 3   viewcount  584013 non-null  int64
dtypes: int64(3), object(1)
memory usage: 17.8+ MB